@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: "Inter";
}

.h-100{
  min-height: calc(100vh - 5rem);
}

@media (min-width: 768px){ 
  .w-100{
    width:  calc(100vw - 16rem);
    margin-left: auto;
  }
}